.ErrorMessage{
    font-weight: lighter;
    color: red;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto";
}
.Hide__Error{
    display: none;
}
.Show__Error{
    display: block;
}
.authSwitch{
    text-align: center;
    padding: 10px;
    color: white;
}
.switch_Auth{
    color: 228FC0;
}