.NavItem{
    margin: 2px 1.5rem;
}
.NavItem a{
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 10px;
}
.NavItem a:hover{
    background-color: #228FC0;
}
.active{
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 4px solid white;
}