Input{
    width: 98%;
    border-radius: 4px;
    height: 2rem;
}
.Input__Element{
    padding: 3px 5px;
    margin: 12px auto;
    outline: none;
    background-color: black;
    border-radius: 40px;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 15px;
    font-family: 'Roboto';
}
.HideErrorMessage{
    display: none;
}
.ShowErrorMessage{
    color: red;
    font-weight: lighter;
    font-family: 'Roboto';
}

@media(min-width:800px){
    .Input{
        width: 95%;
    }
    .Input__Element{
        padding: 5px 8px;
        margin: 15px auto;
    }
}