.LatestBook{
    display: flex;
    background-color: #0D1D29;
    width: 275px;
    color: white;
    position: relative;
    height: 180px;
    border-radius: 12px;
    margin: 13px auto;
}
.LatestBook:hover{
    cursor: pointer;
}

.LatestBook_Image_Container{
    position: absolute;
    top: -15px;
    right: 0;
    height: 180px;
    width: 140px;
    padding-left: 2px;
}
.LatestBook_Image_Container img{
    height: 100%;
    width: 100%;
    border-radius: 9px;
}
.LatestB00k_Text_Button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
    width: 50%;
}
.LatestB00k_Text_Button p{
    margin: 3px;
}
.LatestB00k_Text_Button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Added_Button_Class{
    justify-content: flex-start;
}
.LatestBook_Title{
    font-size: 14px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}
.LatestBook_Author{
    font-size: 10px;
}