.Harmburger{
    width: 35px;
    height: 80%;
    border-radius:5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: transparent;
}
.Harmburger:hover{
    cursor: pointer;
}
.Harmburger span{
    height: 4px;
    background-color: #f5f5f5;
    margin: 2px 0;
    border-radius: 2px;
}
.Harmburger_1{
    width: 100%;
}
.Harmburger_2{
    width: 80%;
}
.Harmburger_3{
    width: 60%;
}
.Harmburger:hover{
    cursor: pointer;
}

@media (min-width: 800px){
    .Harmburger{
        display: none;
    }
}