.NavBar_Dark, .NavBar_Bright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto 15px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 200;
}

.NavBar_Dark{
    background-color: #000000;
}
.Nav_Search_Input{
    display: none;
}
.NavBar_Bright{
    background-color: #ffffff;
}
.Nav_Auth{
    display: flex;
    
}

.profile-Icon ion-icon{
    color: #ffffff;
    font-size: 24px;
}
.CartBox{
    color: white;
    position: relative;
}
.CartBox ion-icon{
    z-index: -1 !important;
}
.Cart_Number{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 10px;
    z-index: 100 !important;
    color:#228FC0 ;
}

@media(min-width: 800px){
    .Nav_Search_Input{
        display: block;
    }
    .CartBox{
        display: none;
    }
}
