.Order{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px #ccc;
    padding: 10px 2px;
    font-family: 'Open Sans';
    margin: 10px auto;
}
.Order p{
    font-size: 16px;
    text-align: center;
    width: 100%;
}
.Order_Id{
    width: 38%;
    font-weight: 600;
}
.Order_Date{
    width: 30%;
    color: rgba(0, 0, 0, 0.589);
}
.Order_Amount_Paid{
    font-weight: 600;
    text-align: right;
    width: 20%;
}
.Order_Status{
    width: 15%;
}
.Order_Amount_Paid span{
    background-color: green;
    color: #ffffff;
    padding: 5px 7px;
    border-radius: 5px;
}
.Order_Status{
    border: 1px solid rgb(133, 100, 4);
    padding: 4px;
    color: rgb(133, 100, 4);
}

@media(min-width:800px){
    .Order{
        flex-direction: row;
        align-items: center;
    }
    
}